@charset "utf-8";
/* CSS Document */

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input ,strong{ margin: 0; padding: 0; border: 0; }
body { font-size: 12px; font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana; font-weight:normal; }
ul, ol { list-style-type: none; }
select, input, img { vertical-align: middle; outline: none; }
a { text-decoration: none;color:#000; }
a { blr:expression(this.onFocus=this.blur())
}
a { outline: none; }
html { overflow-x: hidden; }
strong, em, i, b{ font-style: normal; font-weight: normal; }
/*浮动与清浮动*/
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }

